

{{!-- don't show this content if user has no posts: --}}
{{#if posts.length}}
{{!-- do this for each of the user's posts --}}
{{#each posts as |post|}}
<div class="column is-12 has-text-centered">
    <div class="card m-3">
        <!-- title of post & poster name & time -->
        <header class="card-header has-background-link-light">
            <a href="/dashboard/edit/{{post.id}}">
                <a class="card-header-title" href="/post/{{id}}">{{title}}</a>
                <p class="m-2 is-flex is-align-items-center">Posted by {{user.username}} on {{format_date created_at}}</p>
            </a>
        </header>
    </div>
</div>
{{#each}}
{{/if}}

{{!-- + New Post buttton --}}
<div class="column is-12 has-text-centered">
    <button class="button is-link" type="submit" href="/dashboard/newpost">+ New Post</button>
</div>